/* CSS GENERALES PAGES */
/* CSS NAVBAR */
.logo{
    width: 100px;
}
/* CSS BANNER */
.medida{
    height: 22rem;
}
/* CSS H1 Titulos ANIMADOS */
h1{
    color: rgb(251, 249, 249);
    border: black 2px solid;
    padding: 15px;
    background-color: rgb(39, 36, 36); 
    font-size: 42px;
}
h1:hover{
    color: rgb(224, 21, 21);
    text-decoration:underline;
    transition: .3s;
    transform: skew(-45deg)
}
main{
    background-color: black;
}
/* CSS FOOTER*/
.footer{
    padding: 26px;
    background-color:rgba(0, 0, 0, 0.828);
}
.list-footer{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
}
/* CSS INDEX CONTENEDOR CARD */
.seccion-card{
    width: 100%;
    min-height: 500px;
    padding: 2rem;
    background-color: black;
}
/* CSS PRODUCTOS */
.btn-card{
    background-color: black;
    color: white;
}
.card-body{
    background-color: gray;
}
.card{
    width: 10rem;
}
/* CSS CONTACTO */

.contacto .contenedor-formularios {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacto .contenedor-formularios form{
    width: 85vw;
    max-width: 450px;
    margin: auto;
    background: rgba(189, 189, 189, 0.5);
    padding: 40px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 7px;
}
.contacto .contenedor-formularios .btn{
    width: 100%;
    color:black;
    background-color:white;
    border: black solid 2px;
}